/********************* FEITO POR CRISTIANO *************/
/*  Desenvolvido por Cristiano Freese
    Seletores utilizados para responsividade e estilo da página, complementares ao Bootstrap
*/

/* Fonte Monteserrat Alternates utilizada nas páginas */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
*{
    font-family: 'Montserrat Alternates', sans-serif;
}

/* Configurações para não colapsar navbar em telas com largura inferior a 990px */
/* Configurações gerais da navbar, como posição da logo, efeito hover, altura dos itens, cores */
@media screen and (min-width:990px) {
    .navbar-brand{
        position: left;
        left:50%;
        top:0;
    }
    .nav-link{
        transition:all 0.5s;
    }
    .nav-link.active{
        color: #84659B!important;
    }
    .nav-link:hover{
        /*Roxo - #84659B          Verde - #A4DA95*/
        color: #A4DA95!important;
        transition:all 0.5s;
    }
    .configNavbar{
        height: 100px;
    }
    li.nav-item a{
        padding:58px 0px;
        color: #84659B;
    }
}

/* Configurações gerais do conteúdo injetado em main */
main{
    padding: 10px 0px;
    bottom: 100px;
}



.tituloPadrao{
    color:#FF1927;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    border-bottom:1px solid #FF1927;
}
.showImg{
    border:1px solid #000;
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.75);
}

 Limitar altura do card
.cardsProds{
    align-items: stretch;
}
.cardsProds .card{
    height: 100%;
    position: relative;
}
.cardsProds .card-img{
    max-height: 250px;
    overflow: hidden;
}
.cardsProds .card .card-action{
    clear: both;
}
.cardsProds .card .btnAcao{
    position: absolute;
    bottom:5px;
    right: 5px;
}

/* Configurações gerais do footer, como efeito hover, altura dos itens, cores */
.page-footer{
    
    width: 100%;
    bottom: 0px;
    background-color: #A4DA95;
    padding:10px;
    color: #84659B;
}
.footer-copyright .footer-social{
    text-decoration: none;
    padding:0px;
}
.footer-social a{
    text-decoration:none;
    color:#84659B
}
.footer-social a i{
font-size: 28px;
}
.footer-social a:hover{
    color: #7bdb61!important;
    transition:all 0.5s;
}
.footer-copyright a:hover{
    color: #7bdb61!important;
    transition:all 0.5s;
}
.footer-copyright{
    font-size: 14px;
    text-decoration:none;
    color:#84659B
}
.footer-copyright a{
    text-decoration:none;
    color:#84659B
}


/********************* FEITO POR SANDRA *************/

/*SLOGAN*/

h2.slogan {
   display: flex;
   align-items: center;
   justify-content: center;
   color: #99d688;
}

/*PARTE INICIAL*/
.flex{
    display:flex;
    align-items: center;
}

/*TIMELINE*/

.timeline {
    position: relative;
    background: #99d688;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5em;
    margin: 0 auto 1rem auto;
    overflow: hidden;
}
.timeline:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2px;
    border-right: 2px dashed white;
    height: 100%;
    display: block;
}

.timeline-row {
    padding-left: 50%;
    position: relative;
    margin-bottom: 30px;
}
.timeline-row .timeline-time {
    position: absolute;
    right: 50%;
    top: 15px;
    text-align: right;
    margin-right: 20px;
    color: white	;
    font-size: 1.5rem;
}
.timeline-row .timeline-time small {
    display: block;
    font-size: 0.8rem;
}
.timeline-row .timeline-content {
    position: relative;
    padding: 20px 30px;
    background: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.timeline-row .timeline-content:after {
    content: "";
    position: absolute;
    top: 20px;
    height: 16px;
    width: 16px;
    background: white;
}
.timeline-row .timeline-content:before {
    content: "";
    position: absolute;
    top: 20px;
    right: -49px;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    z-index: 10;
    background: white;
    
}
.timeline-row .timeline-content h4 {
    margin: 0 0 20px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 150%;
}
.timeline-row .timeline-content p {
    margin-bottom: 30px;
    line-height: 150%;
}
.timeline-row .timeline-content i {
    font-size: 1.2rem;
    line-height: 100%;
    padding: 15px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
    display: inline-block;
}
.timeline-row .timeline-content .thumbs {
    margin-bottom: 20px;
    display: flex;
}
.timeline-row .timeline-content .thumbs img {
    margin: 5px;
    max-width: 60px;
}

.timeline-row:nth-child(even) .timeline-content {
    margin-left: 40px;
    text-align: left;
}
.timeline-row:nth-child(even) .timeline-content:after {
    left: -8px;
    right: initial;
    border-bottom: 0;
    border-left: 0;
    transform: rotate(-135deg);
}
.timeline-row:nth-child(even) .timeline-content:before {
    left: -52px;
    right: initial;
}
.timeline-row:nth-child(odd) {
    padding-left: 0;
    padding-right: 50%;
}
.timeline-row:nth-child(odd) .timeline-time {
    right: auto;
    left: 50%;
    text-align: left;
    margin-right: 0;
    margin-left: 20px;
}
.timeline-row:nth-child(odd) .timeline-content {
    margin-right: 40px;
}
.timeline-row:nth-child(odd) .timeline-content:after {
    right: -8px;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
}

/* PARTE MISSÃO, VISÃO E VALORES*/ 

imgmissao{
    height: 200px;
    }

.flex2{
    display: flex;
    align-items: center;
}

imgvisao{
    height: 200px;
    }

.flex3{
    display: flex;
    align-items: center;
}

imgvalor{
    height: 200px;
    }

.flex4{
    display: flex;
    align-items: center;
}

/********************* FEITO POR PAULO *************/

/********************* FEITO POR MICHEL *************/

/********************* FEITO POR ANAISA *************/