@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&family=Oswald:wght@200;400;700&family=Roboto:ital,wght@0,100;0,300;0,500;1,100;1,300;1,500&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}

/* efeito hover na navegação */
@media screen and (min-width:990px) {
    .navbar-brand{
        position: absolute;
        left:50%;
        top:0;
        margin-left:-60px;
    }
    .nav-link{
        transition:all 0.5s;
    }
    .nav-link:hover, .nav-link.active{
        background-color: #FF1927;
        color: #fff!important;
        transition:all 0.5s;
    }
    .configNavbar{
        height: 100px;
    }
    li.nav-item a{
        padding:38px 0;
    }
    
}

main{
    padding: 80px 0;
}

.tituloPadrao{
    color:#FF1927;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    border-bottom:1px solid #FF1927;
}
.showImg{
    border:1px solid #000;
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.75);
}

/* limitar altura do card*/
.cardsProds{
    align-items: stretch;
}
.cardsProds .card{
    height: 100%;
    position: relative;
}
.cardsProds .card-img{
    max-height: 250px;
    overflow: hidden;
}
.cardsProds .card .card-action{
    clear: both;
}
.cardsProds .card .btnAcao{
    position: absolute;
    bottom:5px;
    right: 5px;
}
/*
footer que o bootstrap não tem 
*/
.page-footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #FF1927;
}
.page-footer .footer-copyright{
    padding:20px 0;
}
.footer-copyright *{
    color:#fff;
    text-decoration: none;
}
.footer-copyright a:hover{
    color:#000;
}
.right{
    float: right;
}


/********************* PARTE DA SANDRA *************/


.timeline {
    position: relative;
    background: #ADD8E6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5em;
    margin: 0 auto 1rem auto;
    overflow: hidden;
}
.timeline:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2px;
    border-right: 2px dashed #008080;
    height: 100%;
    display: block;
}

.timeline-row {
    padding-left: 50%;
    position: relative;
    margin-bottom: 30px;
}
.timeline-row .timeline-time {
    position: absolute;
    right: 50%;
    top: 15px;
    text-align: right;
    margin-right: 20px;
    color: #008080	;
    font-size: 1.5rem;
}
.timeline-row .timeline-time small {
    display: block;
    font-size: 0.8rem;
}
.timeline-row .timeline-content {
    position: relative;
    padding: 20px 30px;
    background: #008080;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.timeline-row .timeline-content:after {
    content: "";
    position: absolute;
    top: 20px;
    height: 16px;
    width: 16px;
    background: #008080;
}
.timeline-row .timeline-content:before {
    content: "";
    position: absolute;
    top: 20px;
    right: -49px;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    z-index: 10;
    background: #008080;
    border: 2px dashed #008080	;
}
.timeline-row .timeline-content h4 {
    margin: 0 0 20px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 150%;
}
.timeline-row .timeline-content p {
    margin-bottom: 30px;
    line-height: 150%;
}
.timeline-row .timeline-content i {
    font-size: 1.2rem;
    line-height: 100%;
    padding: 15px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: #008080	;
    margin-bottom: 10px;
    display: inline-block;
}
.timeline-row .timeline-content .thumbs {
    margin-bottom: 20px;
    display: flex;
}
.timeline-row .timeline-content .thumbs img {
    margin: 5px;
    max-width: 60px;
}
.timeline-row .timeline-content .badge {
    color: #ffffff;
    background: linear-gradient(120deg, #008080	 0%, #008080	 100%);
}
.timeline-row:nth-child(even) .timeline-content {
    margin-left: 40px;
    text-align: left;
}
.timeline-row:nth-child(even) .timeline-content:after {
    left: -8px;
    right: initial;
    border-bottom: 0;
    border-left: 0;
    transform: rotate(-135deg);
}
.timeline-row:nth-child(even) .timeline-content:before {
    left: -52px;
    right: initial;
}
.timeline-row:nth-child(odd) {
    padding-left: 0;
    padding-right: 50%;
}
.timeline-row:nth-child(odd) .timeline-time {
    right: auto;
    left: 50%;
    text-align: left;
    margin-right: 0;
    margin-left: 20px;
}
.timeline-row:nth-child(odd) .timeline-content {
    margin-right: 40px;
}
.timeline-row:nth-child(odd) .timeline-content:after {
    right: -8px;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
}

h2 {
   display: flex;
   align-items: center;
   justify-content: center;
   color: #008080;
}

