/*DESENVOLVIDO POR CRISTIANO FREESE*/
/*SELETORES UTILIZADOS PARA RESPONSIVIDADE E ESTILO DA PÁGINA*/

/*FONTE PRINCIPAL ALTERNATIVA - UTILIZADA NA CRIAÇÃO DA LOGO    
Fonte Monteserrat Alternates utilizada nas páginas 
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
*{ font-family: 'Montserrat Alternates', sans-serif; }*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&family=Oswald:wght@200;400;700&family=Roboto:ital,wght@0,100;0,300;0,500;1,100;1,300;1,500&display=swap');
*{ font-family: 'Roboto', sans-serif; }

/* CONFIGURACOES PARA NAO COLAPSAR NAVBAR EM TELAS COM LARGURA INFERIOR A 990PX */ 
/* CONFIGURACOES GERAIS DA NAVBAR, COMO POSIÇÃO DA LOGO, EFEITO HOVER, ALTURA DOS ITENS, CORES */ 
/* CORES DA LOGO - ROXO - #84659B       VERDE - #A4DA95*/
@media screen and (min-width:990px) {
  .navbar-brand{
    position: left;
    left:50%;
    top:0;
  }
    
  .nav-link{
    transition:all 0.5s;
  }
    
  .nav-link.active{
    color: #84659B!important;
  }
    
  .nav-link:hover{
    color: #A4DA95!important;
    transition:all 0.5s;
  }
    
  .configNavbar{
    height: 100px;
  }
    
  li.nav-item a{
    padding:58px 0px;
    color: #84659B;
  }
}

/* CONFIGURAÇÕES GERAIS DO CONTEÚDO INJETADO EM MAIN */
main{
  padding: 10px 0px;
  bottom: 100px;
  background-color: rgb(209, 218, 226);
  color:#84659B;
}

/* CONFIGURAÇÕES GERAIS DO FOOTER, COMO EFEITO HOVER, ALTURA DOS ITENS, CORES */
.page-footer{
  width: 100%;
  bottom: 0px;
  background-color: #A4DA95;
  padding:10px;
  color: #84659B;
}

.footer-social a{
  text-decoration:none;
  color:#84659B;
}

.footer-social a i{
  font-size: 28px;
}

.footer-social a:hover{
  color: #7bdb61!important;
  transition:all 0.5s;
}

.footer-copyright a:hover{
  color: #7bdb61!important;
  transition:all 0.5s;
}

.footer-copyright{
  font-size: 14px;
}

.footer-copyright a{
  text-decoration:none;
  color:#84659B
}

/* CONFIGURAÇÕES RELACIONADAS AO COMPONENTE ACCORDION */
.icofont-question-circle{
  font-size: 28px;
}

/********************* FEITO POR SANDRA *************/

/* PAGINA A EMPRESA FEITO POR SANDRA */

/* SLOGAN */

h2.slogan {
   display: flex;
   align-items: center;
   justify-content: center;
   color: #99d688;
}

/* PARTE INICIAL */

.flex{
    display:flex;
    align-items: center;
}

.elementstyle{
    font-size: 17px;
    line-height: 33px;
}

.linhahorizontal{
  width: 1116px;
  border: 0.3px solid #000;
}

/* TIMELINE BOOTSTRAP - COM ALGUMAS ALTERAÇÕES - RESPONSIVO PARA MOBILE */

.main-timeline {
    position: relative;
}

.main-timeline:before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #99d688;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.main-timeline .timeline {
    margin-bottom: 40px;
    position: relative
}

.main-timeline .timeline:after {
    content: "";
    display: block;
    clear: both
}

.main-timeline .icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.main-timeline .icon:before,
.main-timeline .icon:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .icon:before {
    background: #99d688;
    border: 2px solid #99d688;
    left: -3px
}

.main-timeline .icon:after {
    border: 2px solid #99d688;
    left: 3px
}

.main-timeline .timeline:hover .icon:before {
    left: 3px
}

.main-timeline .timeline:hover .icon:after {
    left: -3px
}

.main-timeline .date-content {
    width: 50%;
    float: left;
    margin-top: 22px;
    position: relative
}

.main-timeline .date-content:before {
    content: "";
    width: 36.5%;
    height: 2px;
    background: #99d688;
    margin: auto 0;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0
}

.main-timeline .date-outer {
    width: 125px;
    height: 125px;
    font-size: 16px;
    text-align: center;
    margin: auto;
    z-index: 1
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
    content: "";
    width: 125px;
    height: 125px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .date-outer:before {
    background: #d1dae3;
    border: 2px solid #99d688;
    left: -6px
}

.main-timeline .date-outer:after {
    border: 2px solid #99d688;
    left: 6px
}

.main-timeline .timeline:hover .date-outer:before {
    left: 6px
}

.main-timeline .timeline:hover .date-outer:after {
    left: -6px
}

.main-timeline .date {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 27%;
    left: 0
}

.main-timeline .month {
    font-size: 18px;
    font-weight: 700
}

.main-timeline .year {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #99d688;
    line-height: 36px
}

.main-timeline .timeline-content {
    width: 50%;
    padding: 20px 0 20px 50px;
    float: right
}

.main-timeline .title {
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 15px 0
}

.main-timeline .description {
    margin-bottom: 0
}

.main-timeline .timeline:nth-child(2n) .date-content {
    float: right
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
    left: 10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 20px 50px 20px 0;
    text-align: right
}

@media only screen and (max-width: 991px) {
    .main-timeline .date-content {
        margin-top: 35px
    }
    .main-timeline .date-content:before {
        width: 22.5%
    }
    .main-timeline .timeline-content {
        padding: 10px 0 10px 30px
    }
    .main-timeline .title {
        font-size: 17px
    }
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 10px 30px 10px 0
    }
}

@media only screen and (max-width: 767px) {
    .main-timeline:before {
        margin: 0;
        left: 7px
    }
    .main-timeline .timeline {
        margin-bottom: 20px
    }
    .main-timeline .timeline:last-child {
        margin-bottom: 0
    }
    .main-timeline .icon {
        margin: auto 0
    }
    .main-timeline .date-content {
        width: 95%;
        float: right;
        margin-top: 0
    }
    .main-timeline .date-content:before {
        display: none
    }
    .main-timeline .date-outer {
        width: 110px;
        height: 110px
    }
    .main-timeline .date-outer:before,
    .main-timeline .date-outer:after {
        width: 110px;
        height: 110px
    }
    .main-timeline .date {
        top: 30%
    }
    .main-timeline .year {
        font-size: 24px
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        width: 95%;
        text-align: center;
        padding: 10px 0
    }
    .main-timeline .title {
        margin-bottom: 10px
    }
}

/* MISSÃO, VISÃO E VALORES */ 

imgmissao{
    height: 200px;
    }

.flex2{
    display: flex;
    align-items: center;
}

imgvisao{
    height: 200px;
    }

.flex3{
    display: flex;
    align-items: center;
}

imgvalor{
    height: 200px;
    }

.flex4{
    display: flex;
    align-items: center;
}

/* BOTÕES */

.third {
  border-color: black;
  color: black;
  box-shadow: 0 0 40px 40px #d1dae3 inset, 0 0 0 0 #d1dae3;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  font-size: 20px;
}
.third:hover {
  box-shadow: 0 0 10px 0 #99d688 inset, 0 0 10px 4px #99d688;
}

/* PAG LIVROS FEITO POR SANDRA */

/* TITULO DESTAQUES */

.titulodestaque{
  display: flex;
  align-items: center;
  justify-content: center;
  color:#42be20
}

/* DESTAQUES */

.destaque{
  position: relative;
  display: inline-block;
  width: 280px;
  height: 370px;
  background-color: #d1dae3;
  text-align: center;

/* TAMANHO, TIPO E COR */

  border:0.5px solid #99d688;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.8);
  margin:0 40px;
}
.destaque .imagem{
  width: 100%;
  height: 215px;
  background-size: 100%;
  background-position: center;
}

.destaque h2{
  font-size: 17px;
  color:black;
}
.destaque .valor{
  font-size: 25px;
  color: #42be20;
  font-weight: 606px;
  text-transform: uppercase;
}
.destaque .valor.riscado{
  font-size: 14px;
  color: #42be20;
  display: block;
  text-decoration: line-through;
}
.destaque .valor small{
  color:#42be20;
}
.destaque .compreaqui{
  display: block;
  position: absolute;
  width: 257px;
  padding: 15px 0;
  background:#d1dae3;
  left:10px;
  bottom: 8px;
  color: black;
  font-size: 15px;
  text-decoration: none;
  border-radius: 9px;
  transition:all 0.5s;
}
.destaque .compreaqui:hover{
  background: #99d688;
  color: #FFF;
  transition:all 0.5s;
}


/********************* FEITO POR PAULO *************/

/********************* FEITO POR MICHAEL *************/

/*primeiro upload do código .css para ver se dá um erro*/

.container.gallery-container {
  background-color: #fff;
  color: #35373a;
  min-height: 100vh;
  padding: 90px 10px;
}

.gallery-container h1 {
  text-align: center;
  margin-top: 50px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
}

.gallery-container p.page-description {
  text-align: center;
  margin: 25px auto;
  font-size: 18px;
  color: #999;
}

.tz-gallery {
  padding: 40px;
}

/* essa parte modifica o bootstrap e pode alterar o trabalho dos outros, cuidado, delete o que não funcionar */
.tz-gallery .row > div {
  padding: 2px;
}

.tz-gallery .lightbox img {
  width: 100%;
  border-radius: 0;
  position: relative;
}

.tz-gallery .lightbox:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  opacity: 0;
  color: #fff;
  font-size: 26px;
  font-family: 'Glyphicons Halflings';
  content: '\e003';
  pointer-events: none;
  z-index: 9000;
  transition: 0.4s;
}


.tz-gallery .lightbox:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(46, 132, 206, 0.7);
  content: '';
  transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
  opacity: 1;
}

.baguetteBox-button {
  background-color: transparent !important;
}

@media(max-width: 768px) {
  body {
      padding: 0;
  }
}

/********************* FEITO POR ANAISA *************/
    
  /*Carousel*/
  .c-item {
    height: 480px;
  }

  .c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
  }

  .px-4 {
    background-color: #99d688;
    border-color: #99d688;
  }

  .text{
    color: #99d688;
  }


  /*Serviços*/

  .service-box {
    text-align: center;
    margin-bottom: 50px;
  }

  .service-box i,
  .service-box h4 {
    transition: .5s;
  }

  .service-box i {
    font-size: 36px;
    margin-bottom: 20px;

  }

  .service-box h4 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .service-box:hover>i,
  .service-box:hover>h4{
    color: #99d688;
  }

  .main-title {

    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
  }

  .main-title::after {
    content: "";
    border-top: 2px;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
  }

  /* Time */

  .card-body {
    text-align: center;
  }



  /* responsive */
  @media(max-width: 768px) {

    /* geral */
    .container {
      padding: 20px 0;
    }


    /* team */
    .card-title {
      font-size: 14px;
    }

    .card-text {
      font-size: 12px;
    }

    /* apply */
    #apply-area .apply-box {
      padding: 50px 25px;
    }



  }
  /*Contato*/
  .btn{
  
    color: #84659B;
    border: #99d688;
    background-color: #99d688;
    text-decoration:#99d688 ; 
  }