
    <h3>Preencha os campos abaixo</h3>
    
    <!-- <form action="" id="cadastro" class="row g-3" onsubmit="return false;"> -->
    <form action="" id="cadastro" class="row g-3">
        <input type="hidden" id="idRegistro" onclick="cadastro()">
            
        <div class="col-md-6">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" placeholder="Nome" id="nome" required>
        </div>
        <div class="col-md-6">
            <label for="sobrenome" class="form-label">Sobrenome</label>
            <input type="text" class="form-control" placeholder="Sobrenome" id="sobrenome" required>
        </div>
        <div class="col-md-2">
            <label for="cep" class="form-label">CEP</label>
            <input type="text" class="form-control" placeholder="CEP" id="cep" onfocusout="pesquisarCep(this.value)">
            
        </div>
        <div class="col-8">
            <label for="logradouro" class="form-label">Logradouro</label>
            <input type="text" class="form-control" id="logradouro" placeholder="Ex: Rua apucarana, 123" required>
        </div>
        <div class="col-md-2">
            <label for="numero" class="form-label">Número</label>
            <input type="text" class="form-control" placeholder="Numero" id="numero" required>
        </div>
        <div class="col-12">
            <label for="bairro" class="form-label">Bairro</label>
            <input type="text" class="form-control" id="bairro" placeholder="Apartamento, casa, galpão..." required>
        </div>
        <div class="col-md-6">
            <label for="cidade" class="form-label">Cidade</label>
            <input type="text" class="form-control" id="cidade" placeholder="Cidade">
        </div>
        <div class="col-md-4">
            <label for="estado" class="form-label">Estado</label>
            <input type="text" class="form-control" id="estado" placeholder="Estado">
            <!-- <select id="inputState" class="form-select"> -->
                <!-- <option selected>Escolha...</option>
                    <option value="1">Santa Catarina</option>
                    <option value="2">Rio Grande do Sul</option>
                    <option value="3">Paraná</option>
                    <option value="4">São Paulo</option>
                    <option value="5">Rio de Janeiro</option>
                    <option value="6">Minas Gerais</option>
                    <option value="7">Bahia</option>
                    <option value="8">Goiás</option> -->
                    <!-- </select> -->
                </div>
                <!-- <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Check me out
                        </label>
                    </div>
                </div> -->
                <div class="col-md-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" placeholder="name@example.com" id="email" required>
                </div>
                <div class="col-md-6">
                    <label for="emailConfirma" class="form-label">Confirme o Email</label>
                    <input type="email" class="form-control" placeholder="name@example.com" id="emailConfirma" required>
                </div>
                <!-- <div class="col-md-6">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" placeholder="Password" id="password" required>
                </div> -->

                <div class="mb-3">
                    <label for="cartaTexto" class="form-label">Carta de apresentação</label>
                    <textarea class="form-control" id="cartaTexto" placeholder="Fale sobre você..." rows="3"></textarea>
                </div>

        <form action="">       
            <h6>Anexe seu currículo abaixo:</h4>
            <div class="input-group mb-3">
                <label class="input-group-text" for="arquivo">Upload</label>
                <input type="file" class="form-control" id="arquivo">
            </div>
                        
            <div class="col-6">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
            <div class="col-6">
                <a type="submit" class="btn btn-primary" href="index.html?page=curriculo" target="_blank" rel="noopener noreferrer role=">Visualizar currículo</a>
                <!-- <button type="submit" class="btn btn-primary"> Ver currículo</button> -->
                <!-- <a type="submit" class="btn btn-primary" href="index.html?page=curriculo">Visualizar currículo</a> -->
            </div>
        </form>

    </form>
   
    <script src="js/bootstrap.bundle.min.js"></script>
    <!-- <script src="../js/apiCep.js"></script> -->
    <!-- <script src="../js/crudCadstro.js"></script> -->


