
    <h3>Preencha os campos abaixo</h3>
    
    <form id="cadastro" class="row g-3" onsubmit="return false">
        <input type="hidden" id="idRegistro" value="">
            
        <div class="col-md-6">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" placeholder="Nome" id="idNome" required>
        </div>
        <div class="col-md-6">
            <label for="sobrenome" class="form-label">Sobrenome</label>
            <input type="text" class="form-control" placeholder="Sobrenome" id="idSobrenome" required>
        </div>
        <div class="col-md-2">
            <label for="inputZip" class="form-label">CEP</label>
            <input type="text" class="form-control" placeholder="CEP" id="inputZip" onfocusout="pesquisarCep(this.value)">
            
        </div>
        <div class="col-8">
            <label for="inputAddress" class="form-label">Logradouro</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Ex: Rua apucarana, 123" required>
        </div>
        <div class="col-md-2">
            <label for="number" class="form-label">Número</label>
            <input type="text" class="form-control" placeholder="Numero" id="number" required>
        </div>
        <div class="col-12">
            <label for="inputAddress2" class="form-label">Bairro</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartamento, casa, galpão..." required>
        </div>
        <div class="col-md-6">
            <label for="inputCity" class="form-label">Cidade</label>
            <input type="text" class="form-control" id="inputCity" placeholder="Cidade">
        </div>
        <div class="col-md-4">
            <label for="inputState" class="form-label">Estado</label>
            <input type="text" class="form-control" id="inputState" placeholder="Estado">
            <!-- <select id="inputState" class="form-select"> -->
                <!-- <option selected>Escolha...</option>
                    <option value="1">Santa Catarina</option>
                    <option value="2">Rio Grande do Sul</option>
                    <option value="3">Paraná</option>
                    <option value="4">São Paulo</option>
                    <option value="5">Rio de Janeiro</option>
                    <option value="6">Minas Gerais</option>
                    <option value="7">Bahia</option>
                    <option value="8">Goiás</option> -->
                    <!-- </select> -->
                </div>
                <!-- <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Check me out
                        </label>
                    </div>
                </div> -->
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Email</label>
                    <input type="email" class="form-control" placeholder="name@example.com" id="inputEmail4" required>
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Password</label>
                    <input type="password" class="form-control" placeholder="Password" id="inputPassword4" required>
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Carta de apresentação</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Fale sobre você..." rows="3"></textarea>
                </div>

        <form action="">       
            <h6>Anexe seu currículo abaixo:</h4>
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupFile01">Upload</label>
                <input type="file" class="form-control" id="inputGroupFile01">
            </div>
            
            <div class="col-6">
                <button href="index.html?page=curriculo" type="submit" class="btn btn-primary">Salvar</button>
            </div>
            <div class="col-6">
                <a type="submit" class="btn btn-primary" href="index.html?page=curriculo" target="_blank" rel="noopener noreferrer role=">Visualizar currículo</a>
                <!-- <button type="submit" class="btn btn-primary"> Ver currículo</button> -->
            </div>
        </form>
    </form>

    <h3>Currículo</h3>


    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>CEP</th>
                <th>Logradouro</th>
                <th>Número</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th>Email</th>
                <th>Password</th>
                <th>Carta de apresentação</th>
            </tr>
        </thead>
    </table>
   
    <script src="js/bootstrap.bundle.min.js"></script>
    <!-- <script src="../js/apiCep.js"></script> -->
    <!-- <script src="../js/crudCadstro.js"></script> -->


