<!--PAGINA CRIADA POR PAULO-->
<h1>Contato</h1>

<h3>Deixe seu melhor E-mail e número de telefone que entraremos em contato!</h3>

<div class="row g-3">
    <div class="col-md-6">
        <label for="Nome" class="form-label">Nome</label>
      <input type="text" class="form-control" placeholder="Nome" aria-label="First name">
    </div>
    <div class="col-md-6">
        <label for="Sobrenome" class="form-label">Sobrenome</label>
      <input type="text" class="form-control" placeholder="Sobrenome" aria-label="Last name">
    </div>
    <div class="col-md-6">
        <label for="telefone" class="form-label">Telefone</label>
        <input type="text" class="form-control" placeholder="Telefone" aria-label="Last name">
        
      </div>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" placeholder="Email" class="form-control" id="inputEmail4">
      </div>

      <div class="mb-3">
        <label for="cartaTexto" class="form-label">Assunto</label>
        <textarea class="form-control" id="cartaTexto" placeholder="Como podemos ajudar?" rows="3"></textarea>
    </div>

    <div class="col-6">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
    
  </div>