<!--PAGINA CRIADA POR PAULO -->
<h4>Fale Conosco</h4>

<h5>Deixe o seu melhor e-mail e número de telefone que entraremos em contato!</h5>

<form action="https://api.staticforms.xyz/submit" method="post" class="formcontato__form" id="form-contato">
                    <input type="hidden" name="accessKey" onclick="cadastro(this.value)" >
                    <!-- <input type="hidden" name="redirectTo" value="index.html?page=inicio" > -->


<div class="row g-3">
    <div class="col-md-6">
        <label for="Nome" class="form-label">Nome</label>
      <input type="text" class="form-control" id="nome" placeholder="Nome" required aria-label="First name">
    </div>
    <div class="col-md-6">
        <label for="Sobrenome" class="form-label">Sobrenome</label>
      <input type="text" class="form-control" id="sobrenome" placeholder="Sobrenome" required aria-label="Last name">
    </div>
    <div class="col-md-6">
        <label for="telefone" class="form-label">Telefone</label>
        <input type="text" class="form-control" id="telefone" placeholder="Telefone" required aria-label="Last name">
        
      </div>
    <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        <input type="email" placeholder="Email" class="form-control" required id="email">
      </div>

      <div class="mb-3">
        <label for="cartaTexto" class="form-label">Assunto</label>
        <textarea class="form-control" id="cartaTexto" placeholder="Como podemos ajudar?" required rows="3"></textarea>
    </div>

    <div class="col-6">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
    
  </div>
  </form>