<H2>Produzindo o melhor da Arte!</H2>
<div class="container">
    <div class="timeline">
            <div class="timeline-row">
               
                <div class="timeline-time">
                    O que é a DevProdutora?
                </div>
                <div class="timeline-content">
                    <i class="icon-attachment"></i>
                    <p>A DevProdutora nasceu no intuito de trazer conhecimento em forma de arte, cultura e lazer à população.
                    Conseguimos transformar a vida das pessoas com os nossos trabalhos e ofertas de viabilização cultural.
                    </p>
                    
                    
                </div>
            </div>
    
            <div class="timeline-row">
                <div class="timeline-time">
                    O que fazemos?
                </div>
                <div class="timeline-content">
                    <i class="icon-code"></i>
                        <p>
                        Produzimos projetos e eventos culturais na cidade de Blumenau/SC, e abrimos esse espaço para que os artistas compartilhem da sua expressão. Seja ela em forma de teatros, shows, danças, oficinas, grandiosos espetáculos e festivais.
                        </p>
                    
                </div>
            </div>
    
            <div class="timeline-row">
                <div class="timeline-time">
                    Quem somos?
                </div>
                <div class="timeline-content">
                    <i class="icon-turned_in_not"></i>
                    <p>O grupo é formado por 5 integrantes capacitados e dispostos a trazerem o melhor da cultura à Blumenau. São eles: Anaísa, Cristiano, Michael, Paulo e Sandra.
                        Mas você também pode fazer parte dessa história!
                    
                    </p>
                 <a class="btn btn-outline-dark" href="views/contato.html" role="button">Também quero fazer parte!</a>

                  </div>
          </div>
   