<!--PAGINA CRIADA POR SANDRA-->

<!--SLOGAN-->
<br>
<H2 class="slogan">Produzindo o melhor da Arte!</H2>
<br><br>

<!--QUEM SOMOS-->
<div class="flex">
 
<img class="quemsomos" src="img/quemsomos.png" width="435px" alt="">

<div class="elementstyle">
    <h2>O que é?</h2>
<p> A SOI Arte e Cultura nasceu no intuito de trazer conhecimento em forma de arte, cultura e lazer à população.
    Conseguimos transformar a vida das pessoas com os nossos trabalhos e ofertas de viabilização cultural.
</p>

    <h2>O que fazemos?</h2>
<p>Produzimos projetos e eventos culturais e, abrimos esse espaço para que os artistas compartilhem de sua expressão. Seja ela em forma de shows, livros, oficinas, desenhos e até mesmo documentários.
</p>

    <h2>Quem somos?</h2>
<p>O grupo é formado por 5 integrantes capacitados e dispostos a trazerem o melhor da cultura à região. São eles: Anaísa, Cristiano, Michael, Paulo e Sandra.
    Mas você também pode fazer parte dessa história! <br>
</p>
</div>
</div>
<br><br><br>

<!--BOTÕES-->
   <div class="d-flex justify-content-between">
   <a href="index.html?page=cadastro"> <button class="btn third" role="button">Também quero fazer parte!</button></a>
   <a href="index.html?page=portfolio"> <button class="btn third" role="button">Veja aqui o que a gente faz!</button></a>
   <a href="http://instagram.com/soiartecultura"> <button class="btn third" role="button">Conheça o nosso grupo de perto!</button></a>
</div>
<br><br>

<!--LINHA DIVISÓRIA-->
<div class="linhahorizontal"></div><br>
<br><br>

<!--TIMELINE-->
<h2 style="text-align:center;">Linha do tempo da SOI</h2>
<br>
<div class="container">
 <div class="main-timeline">
    
    <div class="timeline">
       <div class="icon"></div>
           <div class="date-content">
             <div class="date-outer">
             <span class="date">                                                
                <span class="year">2006</span>
                </span>
            </div>
        </div>
<div class="timeline-content">
    <h5 class="title">Nascimento</h5>
         <p class="description">
         A empresa Soi Arte e Cultura iniciou suas atividades em 2006 e, na época se chamava Mono Produções. Recentemente passou a se chamar Soi Arte e Cultura. Atua na área cultural, desenvolvimento de conteúdos, elaboração e produção executiva e cultural de projetos.
         </p>
 </div>
 </div>
                           
<div class="timeline">
    <div class="icon"></div>
       <div class="date-content">
        <div class="date-outer">
        <span class="date">
        <span class="year">2012</span>
           </span>
      </div>
</div>
 <div class="timeline-content">
    <h5 class="title">Ampliação</h5>
        <p class="description">
        Inicialmente, as atividades estavam voltadas para o setor audiovisual com a produção de documentários e vídeos de cunho histórico, cultural e turístico. Desde 2012, a empresa ampliou o foco e passou a atuar na área de produção cultural e de conteúdo.
         </p>
     </div>
</div>
                           
<div class="timeline">
     <div class="icon"></div>
        <div class="date-content">
        <div class="date-outer">
        <span class="date">                                    
        <span class="year">2022</span>
             </span>
        </div>
 </div>
 <div class="timeline-content">
    <h5 class="title">Atualmente</h5>
        <p class="description">
        Hoje, trabalha na produção executiva e cultural de projetos de artistas em diferentes áreas e na produção de conteúdo. A atuação consiste na elaboração dos projetos, captação de verbas e recursos e produção executiva, prestação de contas e execução de projetos (texto, fotografia, pesquisa etc).
        </p>
     </div>
 </div>
</div>
<br><br>

<!--MISSAO, VISAO E VALORES-->
<h2 style="text-align:center;">Missão, visão  e valores</h2>
<br>
<div class="flex2">

<img class="imgmissao" src="img/missao.png" width="200px" alt="">
 <P> Explorar e viabilizar diversas possibilidades através da arte, integrando artista, patrocinador e sociedade, com foco na democratização do acesso à cultura.
</P>
</div>

<div class="flex2">
<P>Ter excelência em todas as nossas ações, promovendo a cultura e as mais diversas manifestações artísticas. Ser agente de transformação social e formação de pessoas por meio da valorização do ser humano e de suas potencialidades.
</P>

<img class="imgvisao" src="img/VISAO.png" width="200px" alt="">
</div>

<div class="flex4">
<img class="imgvalor" src="img/VALOR.png" width="200px" alt="">
<P>Criatividade, inovação, competência, qualidade na relação e compromisso com nossos colaboradores, comprometimento.
</P>

</div>

<!--BOTÃO FALE CONOSCO-->
<p>
<div class="d-flex justify-content-center">
 <a href="index.html?page=contato"> <button class="btn third" role="button">Fale Conosco!</button></a>
</p>
<br><br><br>