<!--DESENVOLVIDO POR CRISTIANO FREESE -->

<!--CAROUSEL COM 4 IMAGENS ALTERANDO DE FORMA TEMPORIZADA 5S-->
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img src="upload/BandaM.jpg" class="d-block w-100" alt="..." >
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="upload/Historias.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="upload/AllJazz.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="upload/Movin.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<hr class="my-5">

<!--TITULO DE BOAS VINDAS-->
<div class="container">
  <h1 style="text-align: center;">Seja Bem-Vindo a Cultura!</h1>
</div>

<!--GRID DE 4 LINHAS POR 2 COLUNAS CONTENDO IMAGENS E SUBTITULOS-->
<div class="container text-center">
  <hr class="my-4">
  <div class="flex2 align-items-center">
    <div class="col-5">
      <img class="rounded-circle" height="157" width="126" src="upload/Leo2.png" alt="...">
    </div>
    <div class="col-7">
      <h2><span>Valorizamos</span></h2><p><small> o artista local e tornamos realidade o seu projeto cultural de teatro, música, artes visuais, dança, oficinas e literatura.</small></p>
    </div>
  </div>
    
  <hr class="my-4">

  <div class="flex2 align-items-center">
    <div class="col-7">
      <h2><span>Viabilizamos</span></h2><p><small> seu projeto pela Lei Federal de Incentivo à Cultura através de Editais Estaduais e Municipais.</small></p>
    </div>
    <div class="col-5">
      <img class="rounded-circle" height="157" width="126" src="upload/Folclorico.png" alt="...">
    </div>
  </div>

  <hr class="my-4">

  <div class="flex2 align-items-center">
    <div class="col-5">
      <img class="rounded-circle" height="157" width="126" src="upload/Soila.png" alt="...">
    </div>
    <div class="col-7">
      <h2><span>Assessoramos</span></h2><p><small> todas as etapas de planejamento, captação, prestação de contas e execução da sua produção.</small></p>
    </div>
  </div>
    
  <hr class="my-4">

  <div class="flex2 align-items-center">
    <div class="col-7">
      <h2><span>Já aprovamos</span></h2><p><small> mais de 300 projetos acessibilizando cultura para crianças, jovens e adultos.</small></p>
    </div>
    <div class="col-5">
      <img class="rounded-circle" height="157" width="126" src="upload/Historias3.png" alt="...">
    </div>
  </div>

  <hr class="my-4">
</div>

<!--CONTAINER COM ÚLTIMOS 3 POSTS DE INSTAGRAM - API POSTS INSTAGRAM DINAMICOS-->
<div class="container Posts">
  <h1 style="text-align: center;">Acompanhe nossos últimos Posts no Instagram (API)</h1>
</div>

<hr class="my-5">

<!--CONTAINER CONTENDO ACCORDION SOBRE A LEI ROUANET - API LEI ROUANET-->
<div class="container pb-5">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed d-block text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><div><i class="icofont-question-circle"> Conheça a Lei Rouanet</i></div></button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body text-align">
        <br>
        <strong>A Lei Rouanet, também conhecida como Lei Federal de Incentivo à Cultura,</strong> n. 8313, de 23 de dezembro de 1991, é um dispositivo criado pelo governo para promover, proteger e valorizar as expressões culturais nacionais. O nome é uma homenagem a Sérgio Paulo Rouanet, que era Ministro da Cultura quando a lei foi promulgada.
        A vantagem desse regulamento para os organizadores de evento é o incentivo financeiro oferecido a pessoas jurídicas e físicas: patrocinar a cultura através do Imposto de Renda (IR). Como? Empresas podem investir até 4% do IR devido e cidadãos, 6%.
        <p>Desde a sua criação já foram beneficiados xxxxxx projetos, com um aporte de R$xxxxxx,xx para execução.</p>
      </div>
    </div>
  </div>
</div>
