<!--DESENVOLVIDO POR CRISTIANO FREESE -->

<!--CAROUSEL COM 4 IMAGENS ALTERANDO DE FORMA TEMPORIZADA 5S-->
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img src="upload/BandaM.jpg" class="d-block w-100" alt="..." >
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="upload/Historias.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="upload/AllJazz.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="upload/Movin.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<hr class="my-5">

<!--TITULO DE BOAS VINDAS-->
<div class="container">
  <h1 style="text-align: center;">Seja Bem-Vindo a Cultura!</h1>
</div>

<!--GRID DE 4 LINHAS POR 2 COLUNAS CONTENDO IMAGENS E SUBTITULOS-->
<div class="container text-center">
  <hr class="my-4">
  <div class="flex2 align-items-center">
    <div class="col-5">
      <img class="rounded-circle" height="157" width="126" src="upload/Leo2.png" alt="...">
    </div>
    <div class="col-7">
      <h2><span>Valorizamos</span></h2><p><small> o artista local e tornamos realidade o seu projeto cultural de teatro, música, artes visuais, dança, oficinas e literatura.</small></p>
    </div>
  </div>
    
  <hr class="my-4">

  <div class="flex2 align-items-center">
    <div class="col-7">
      <h2><span>Viabilizamos</span></h2><p><small> seu projeto pela Lei Federal de Incentivo à Cultura através de Editais Estaduais e Municipais.</small></p>
    </div>
    <div class="col-5">
      <img class="rounded-circle" height="157" width="126" src="upload/Folclorico.png" alt="...">
    </div>
  </div>

  <hr class="my-4">

  <div class="flex2 align-items-center">
    <div class="col-5">
      <img class="rounded-circle" height="157" width="126" src="upload/Soila.png" alt="...">
    </div>
    <div class="col-7">
      <h2><span>Assessoramos</span></h2><p><small> todas as etapas de planejamento, captação, prestação de contas e execução da sua produção.</small></p>
    </div>
  </div>
    
  <hr class="my-4">

  <div class="flex2 align-items-center">
    <div class="col-7">
      <h2><span>Já aprovamos</span></h2><p><small> mais de 300 projetos acessibilizando cultura para crianças, jovens e adultos.</small></p>
    </div>
    <div class="col-5">
      <img class="rounded-circle" height="157" width="126" src="upload/Historias3.png" alt="...">
    </div>
  </div>

  <hr class="my-4">
</div>

<!--CONTAINER COM 3 POSTS DE INSTAGRAM DENTRO DE CARDS-->
<div class="container Posts">
  <h1 style="text-align: center;">Acompanhe nosso Instagram</h1>
  <div class="card-group flex2">
    <div class="card m-2">
      <img class="card-img-top rounded" src="upload/InstaJohn2.png" alt="Card image cap">
      <a href="https://www.instagram.com/p/CNasJqYlmz1/" target="_blank" class="stretched-link"></a>
    </div>
    <div class="card m-2">
      <img class="card-img-top rounded" src="upload/InstaMelim2.png" alt="Card image cap">
      <a href="https://www.instagram.com/p/B4Xs6KuFinK/" target="_blank" class="stretched-link"></a>
    </div>
    <div class="card m-2">
      <img class="card-img-top rounded" src="upload/InstaVendedor2.png" alt="Card image cap">
      <a href="https://www.instagram.com/p/B1wYEATlH5W/" target="_blank" class="stretched-link"></a>
    </div>
  </div>
</div>

<hr class="my-5">

<!--CONTAINER CONTENDO ACCORDION SOBRE A LEI ROUANET-->
<div class="container pb-5">
  <div class="accordion-item" onclick="onclickAccordion()">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed d-block text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><div><i class="icofont-question-circle"> Conheça a Lei Rouanet</i></div></button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body text-align">
        <div class="card m-4 rounded">
          <strong> Lei Rouanet é o principal mecanismo de apoio à cultura do Brasil.</strong> Entre 1991 e 2018, por meio da Lei, foram realizados 53.368 projetos de teatro, dança, circo, cinema, literatura, artes visuais, música design, patrimônio cultural, festas populares e outros segmentos. Em média, são 1.976 projetos por ano, 164 por mês, 5 por dia. Esses eventos injetaram um total de R$ 17,6 bilhões na economia criativa brasileira, ou R$ 31,2 bilhões se considerado o valor corrigido pela inflação. E somente nos últimos 5 anos, a população teve acesso a 3,3 bilhões de ingressos gratuitos para projetos culturais.
        </div>
      </div>
    </div>
  </div>
</div>
