<!--PAGINA CRIADA POR CRISTIANO -->

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img src="upload/BandaM.jpg" class="d-block w-100" alt="..." >
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="upload/Historias.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="upload/AllJazz.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="upload/Movin.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container">
  <hr class="my-3">
  <h1 style="color:#84659B; text-align: center;">Seja Bem Vindo a Cultura!</h1>
  <hr class="my-3">
</div>

<div class="container marketing">
  <div class="row featurette">
    <div class="col-md-7">
      <h2><span class="text-muted">Valorizamos</span></h2>
      <p class="lead">o artista local e tornamos realidade o seu projeto cultural de teatro, música, artes visuais, dança, oficinas e literatura.</p>
    </div>
    <div class="col-md-5">
      <div class="card" style="width: 30%;">
        <div class="card-img">
          <img src="upload/Historias3.png" class="card-img-top" alt="...">
        </div>
      </div>
    </div>
  </div>
  
  <hr class="my-3">
  
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2><span class="text-muted">Viabilizamos</span></h2>
      <p class="lead">Viabilizamos seu projeto pela Lei Federal de Incentivo à Cultura, Programas Estaduais e Municipais.</p>
    </div>
    <div class="col-md-5">
      <div class="card" style="width: 30%;">
        <div class="card-img">
          <img src="upload/Historias3.png" class="card-img-top" alt="...">
        </div>
      </div>
    </div>
  </div>

  <hr class="my-3">
  
  <div class="row featurette">
    <div class="col-md-7">
      <h2><span class="text-muted">Assessoramos</span></h2>
      <p class="lead">todas as etapas de planejamento, captação, prestação de contas e execução da sua produção.</p>
    </div>
    <div class="col-md-5">
      <div class="card" style="width: 30%;">
        <div class="card-img">
        <img src="upload/Historias3.png" class="card-img-top" alt="...">
        </div>
      </div>
    </div>
  </div>

  <hr class="my-3">

  <div class="row featurette">
    <div class="col-md-7  order-md-2">
      <h2><span class="text-muted">Já aprovamos</span></h2>
      <p class="lead">mais de 300 projetos acessibilizando cultura para crianças, jovens e adultos.</p>
    </div>
    <div class="col-md-5">
      <div class="card" style="width: 30%;">
        <div class="card-img">
          <img src="upload/Historias3.png" class="card-img-top" alt="...">
        </div>
      </div>
    </div>
  </div>

  <hr class="my-3">
</div>

<div class="container">
  <h1 style="color:#84659B; text-align: center;">Acompanhe nossos últimos Posts no Instagram (API)</h1>
  <hr class="my-3">
</div>

<div class="container">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Você conhece a Lei Rouanet? (API)
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>A Lei Rouanet, também conhecida como Lei Federal de Incentivo à Cultura,</strong> n. 8313, de 23 de dezembro de 1991, é um dispositivo criado pelo governo para promover, proteger e valorizar as expressões culturais nacionais. O nome é uma homenagem a Sérgio Paulo Rouanet, que era Ministro da Cultura quando a lei foi promulgada.

        A vantagem desse regulamento para os organizadores de evento é o incentivo financeiro oferecido a pessoas jurídicas e físicas: patrocinar a cultura através do Imposto de Renda (IR). Como? Empresas podem investir até 4% do IR devido e cidadãos, 6%.

        Até o momento já foram aprovados xxxx projetos e foram captados R$xxxxxx,xx.
      </div>
    </div>
  </div>
  <hr class="my-3">
</div>

