<!--PAGINA CRIADA POR SANDRA-->
<!--SLIDE-->
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img src="img/bannerlivro.jpg" class="d-block w-100" alt="..." height="400px" >
      <div class="carousel-caption d-md-block">
        <h2>SHHHHHHHHHHHH!!</h5>
            <p>SILÊNCIO! VOCÊ CHEGOU NA BIBLIOTECA.</p>
            </div>
    </div>

    <div class="carousel-item" data-bs-interval="5000">
      <img src="img/bannerlivro2.jpg" class="d-block w-100" alt="..." height="400px">
      <div class="carousel-caption d-md-block">
        <h2>VEJA OS DESTAQUES ABAIXO.</h5>
            <p>ENTRE E FIQUE A VONTADE PRA ESCOLHER SEU LIVRO!</p>
            </div>
          </div>

    <div class="carousel-item" data-bs-interval="5000">
      <img src="img/bannerlivro3.jpg" class="d-block w-100" alt="..." height="400px">
      <div class="carousel-caption d-md-block">
        <h2>AQUI O ESCRITOR TEM RECONHECIMENTO!</h5>
            <p>ENTRE EM CONTATO CONOSCO QUE AJUDAMOS NA PRODUÇÃO DO SEU LIVRO.<p>
                <div class="d-flex justify-content-center">
                  <a href="index.html?page=contato"> <button class="btn third" role="button">Fale Conosco!</button></a>
                </p>
            </p>
            </div>
    </div>
  </div>

  <!--BOTÃO PRÓXIMO E ANTERIOR-->
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br><br><br><br>

<!--DESTAQUES-->
<h2 class="titulodestaque">Vêm conhecer nossos livros em destaque!</h2>
<br><br>

<div class="destaque">
  <div class="imagem"><img class="imagem" src="img/livro1.jpg">
  </div>
    <h2>Sensível, mas não fraco! <br> Forte, mas não rude!</h2>
    <span class="valor">POR R$ 55,00</span>
    <a href="https://api.whatsapp.com/send?phone=5547988823758&text=Olá, fiquei interessado(a) nesse livro!"> <button class="compreaqui" role="button">QUERO COMPRAR!</button></a>   
</div>

<div class="destaque">
    <div class="imagem"><img class="imagem" src="img/livro2.jpg">
    </div>
    <h2>Contos Andinos</h2>
    <span class="valor riscado"><small>de </small>R$ 70,00</span>
    <span class="valor"><small>por </small>R$ 65,00</span>
    <a href="https://api.whatsapp.com/send?phone=5547988823758&text=Olá, fiquei interessado(a) nesse livro!"> <button class="compreaqui" role="button">QUERO COMPRAR!</button></a>
</div>

<div class="destaque">
  <div class="imagem"><img class="imagem" src="img/livro3.jpg">
  </div>
    <h2>Desertos que dançam</h2>
    <span class="valor riscado"><small>de </small>R$ 48,00</span>
    <span class="valor"><small>por </small>R$ 35,90</span>
    <a href="https://api.whatsapp.com/send?phone=5547988823758&text=Olá, fiquei interessado(a) nesse livro!"> <button class="compreaqui" role="button">QUERO COMPRAR!</button></a>    
</div>
<br><br><br>

<div class="destaque">
    <div class="imagem"><img class="imagem" src="img/livro4.png">
    </div>
      <h2>Ein Prosit Blumenau 2° Edição</h2>
      <span class="valor riscado"><small>de </small>R$ 89,90</span>
      <span class="valor"><small>por </small>R$ 79,90</span>
      <a href="https://api.whatsapp.com/send?phone=5547988823758&text=Olá, fiquei interessado(a) nesse livro!"> <button class="compreaqui" role="button">QUERO COMPRAR!</button></a>      
  </div>

  <div class="destaque">
    <div class="imagem"><img class="imagem" src="img/livro5.jpg">
    </div>
    <br>
      <h2>Bernard Scheidemantel</h2>
      <span class="valor"><small>por </small>R$ 42,99</span>
      <a href="https://api.whatsapp.com/send?phone=5547988823758&text=Olá, fiquei interessado(a) nesse livro!"> <button class="compreaqui" role="button">QUERO COMPRAR!</button></a>
</div>

  <div class="destaque">
    <div class="imagem"><img class="imagem" src="img/livro6.jpg">
    </div>
    <br>
      <h2>Sonho - O Despertar da Procura</h2>
      <span class="valor"><small>por </small>R$ 70,00</span>
      <a href="https://api.whatsapp.com/send?phone=5547988823758&text=Olá, fiquei interessado(a) nesse livro!"> <button class="compreaqui" role="button">QUERO COMPRAR!</button></a>
</div>
<br><br><br><br>

<!--BOTÃO FALE CONOSCO-->
<p>
  <h2 class="titulodestaque">Não encontrou o livro preferido? Chama a gente! </h2>
<br><br>
  <div class="d-flex justify-content-center">    
   <a href="index.html?page=contato"> <button class="btn third" role="button">Fale Conosco!</button></a>
</p>
  <br><br>

</main>