
    <section class="containerproje">
        <div class="slide-container active">
            <div class="slide">
             <div class="contentproje">
               <h3>Audiovisual</h3>
               <p>Possuimos parceria com profissionais qualificados terceirizados para atuações nas produções culturais tendo como diretrizes técnicas, focadas nos planejamentos gerenciamento e execução de processos de Produções Audiovisuais, atentando às inovações conceituais, tecnológicas e comportamentais intervenientes à concepção da imagem audiovisual da sua produção cultural.</p>
               <a href="views/contato.html" class="bntproj">Saiba mais</a>
             </div>
            </div>
        </div>

        <div class="slide-container">
            <div class="slide">
             <div class="contentproje">
               <h3>Agência de Comunicação e Marketing</h3>
               <p>Devido a demanda por multi produtos culturais, resultante da evolução da tecnologia digital dos meios de comunicação e entretenimento, com as nossas parcerias e a geração das novas criações culturais, por artistas anônimos e criadores profissionais, fazem da sua criação cultural alavancar com a nossa Agência de Comunicação e Marketing. A mesma está focada com expertise no nicho cultural.</p>
               <a href="views/contato.html" class="bntproj">Saiba mais</a>
             </div>
            </div>
        </div>

        <div class="slide-container">
            <div class="slide">
             <div class="contentproje">
               <h3>Agenciamento de Artistas</h3>
               <p>Agenciamento de Artistas, grupos artísticos formais ou informais e ainda na promoção de ações de associações, cooperativa e entidades privadas, públicas ou do terceiro setor para auxiliar sua produção cultural.
            </p>
               <a href="views/contato.html" class="bntproj">Saiba mais</a>
             </div>
            </div>
        </div>


        <div id="prev" onclick="prev()"> < </div>
        <div id="next" onclick="next()"> > </div>
    </section>


