<main>
    <!-- carousel parceiros -->
  <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active c-item">
        <img src="img/banner1.png" class="d-block w-100 c-img" alt="Slide 1">
        <div class="carousel-caption top-0 mt-4">
          <br>
          <p class="mt-5 fs-3 text">Nossos Parceiros</p>


        </div>
      </div>
      <div class="carousel-item c-item">
        <img src="img/banner2.png" class="d-block w-100 c-img" alt="Slide 2">
        <div class="carousel-caption top-0 mt-4">
          <br>
          <p class="text fs-3 mt-5">Agenciamento de Artistas</p>


        </div>
      </div>
      <div class="carousel-item c-item">
        <img src="img/banner3.png" class="d-block w-100 c-img" alt="Slide 3">
        <div class="carousel-caption top-0 mt-4">
          <br>
          <p class="text fs-3 mt-5">Audiovisual</p>


        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br>
  <br>
        <!-- Serviços da produtora cultural em parcerias -->
        <div id="services-area">
            <div class="container">
                <div class="row">                    
                  
                    <div class="col-md-4 service-box">
                        <i class="fas fa-mobile-alt"></i>
                        <h4>Publicidade e Marketing</h4>
                        <p>Temos variadas parceirias no meio de puplicidade e propaganda com contatos no Brasil e no exterior.</p>
                    </div>
                    <div class="col-md-4 service-box">
                        <i class="fas fa-shopping-cart"></i>
                        <h4>Dispositivos Tecnológicos</h4>
                        <p>Utilizamos o real poder dos dispositivos móveis e desktops construindo aplicativos nativos e portfólio digitais para artistas..</p>
                    </div>
                    <div class="col-md-4 service-box">
                        <i class="fas fa-paint-brush"></i>
                        <h4>Design Criativo</h4>
                        <p>Nossos designers são especializados em UI/UX e também possuem vasta experiência no mercado de produtoras culturais.</p>
                    </div>
                    <div class="col-md-4 service-box">
                        <i class="fab fa-google"></i>
                        <h4>Experts em eventos de grande porte</h4>
                        <p>Com nosso serviço de simulação de eventos, seu evento será melhor avaliado pelo bem estar e segurança no evento.</p>
                    </div>
                    <div class="col-md-4 service-box">
                        <i class="fas fa-hands-helping"></i>
                        <h4>Suporte 24 horas</h4>
                        <p>Você sempre terá alguém ou uma equipe disponível para suporte, em diferentes plataformas (chat,                          email, skype) e nos locais dos eventos culturais</p>
                    </div>
                    <div class="col-md-4 service-box">
                        <i class="fas fa-server"></i>
                        <h4>Experiência em seguraça</h4>
                        <p>Garantimos uptime e também rápido tempo de resposta a seu evento cultural e segurança.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Time -->
        <div id="team-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="main-title">Nosso time de parceiros</h3>
                    </div>
                    
                    <div class="col-md-3">
                        <div class="card">
                            <img src="img/profile1.jpg" class="card-img-top" alt="Imagem de Perfil 1">
                            <div class="card-body">
                                <h5 class="card-title">João da Silva</h5>
                                <p class="card-text">Diretor Audiovisual</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="img/profile2.jpg" class="card-img-top" alt="Imagem de Perfil 2">
                            <div class="card-body">
                                <h5 class="card-title">Maria Mariana</h5>
                                <p class="card-text">Redatora</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="img/profile3.jpg" class="card-img-top" alt="Imagem de Perfil 3">
                            <div class="card-body">
                                <h5 class="card-title">Jorge Alves</h5>
                                <p class="card-text">Técnico Sonoro</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="img/profile4.jpg" class="card-img-top" alt="Imagem de Perfil 4">
                            <div class="card-body">
                                <h5 class="card-title">Karina Katarina</h5>
                                <p class="card-text">UX/UI Designer e Publicitária</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</main>