<!--PAGINA CRIADA POR MICHAEL-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="container gallery-container">

    <!--Titulo-->
    <H1>Trabalhos feitos por nós</H2>
    <p class="page-description text-center">alguns exemplos</p>
    
    <!--divisao de pages-->
    <div class="tz-gallery">
    <div class="row">

            <!--imagens-->
            <div class="col-md-4">
                <a class="lightbox" href="img/_Prj01_HistóriasForaDaCaixa_1.png">
                <img src="img/_Prj01_HistóriasForaDaCaixa_1.png" alt="Historias fora da caixa 1">
                </a>
            </div>

            <div class="col-md-4">
                <a class="lightbox" href="img/_Prj06_Banda Municipal_2.png">
                    <img src="img/_Prj06_Banda Municipal_2.png" alt="Banda Municipal">
                </a>
            </div>

            <div class="col-md-4">
                <a class="lightbox" href="img/Prj12_JuGatto_1.png">
                    <img src="img/Prj12_JuGatto_1.png" alt="JuGatto">
                </a>
            </div>

            <div class="col-md-4">
                <a class="lightbox" href="img/_Prj02_AllJazz.png">
                    <img src="img/_Prj02_AllJazz.png" alt="Banda Jazz">
                </a>
            </div>

            <div class="col-md-4">
                <a class="lightbox" href="img/_Prj06_Banda Municipal_2.png">
                    <img src="img/_Prj06_Banda Municipal_2.png" alt="Banda Municipal">
                </a>
            </div>

            <div class="col-md-4">
                <a class="lightbox" href="img/_Prj08_Cia_Movin_1.png">
                    <img src="img/_Prj08_Cia_Movin_1.png" alt="Cia Movin">
                </a>
            </div>

            <div class="col-md-4">
                <a class="lightbox" href="img/_Prj08_Cia_Movin_1.png">
                    <img src="img/_Prj08_Cia_Movin_1.png" alt="Cia Movin">
                </a>
            </div>

            <div class="col-md-4">
                <a class="lightbox" href="img/_Prj08_Cia_Movin_1.png">
                    <img src="img/_Prj08_Cia_Movin_1.png" alt="Cia Movin">
                </a>
            </div>

            <div class="col-md-4">
                <a class="lightbox" href="img/_Prj08_Cia_Movin_1.png">
                    <img src="img/_Prj08_Cia_Movin_1.png" alt="Cia Movin">
                </a>
            </div>

    
    </div>
    </div>

</div>
            <!--script testing-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>

</body>
</html>