<!--PAGINA CRIADA POR MICHAEL-->
<div class="container gallery-container">

    <!--Titulo-->
    <H1>Trabalhos feitos por nós</H2>
    <p class="page-description text-center">o objetivo de nosso equipe multifacetado é servir a comunidade com nosso trabalho</p>
    
    <!--divisao de pages-->
    <div class="tz-gallery">
        <div class="row  flex2">

            <!--imagens-->
            <div class="col-md-4">
                <a class="lightbox" href="img/_Prj01_HistóriasForaDaCaixa_1.png">
                <img src="img/_Prj01_HistóriasForaDaCaixa_1.png" alt="Historias fora da caixa 1">
                </a>
            </div>

            <div class="col-md-4">
                <a class="lightbox" href="img/_Prj06_Banda Municipal_2.png">
                    <img src="img/_Prj06_Banda Municipal_2.png" alt="Banda Municipal">
                </a>
            </div>

            <div class="col-md-4">
                <a class="lightbox" href="img/Prj12_JuGatto_1.png">
                    <img src="img/Prj12_JuGatto_1.png" alt="JuGatto">
                </a>
            </div>

            <div class="col-md-4">
                <a class="lightbox" href="img/_Prj02_AllJazz.png">
                    <img src="img/_Prj02_AllJazz.png" alt="Banda Jazz">
                </a>
            </div>
            <!--img 5-->
            <div class="col-md-4">
                <a class="lightbox" href="img/_Prj05_AquelasQueMoramNela_2.png">
                    <img src="img/_Prj05_AquelasQueMoramNela_2.png" alt="Aquelas que moram nela">
                </a>
            </div>

            <div class="col-md-4">
                <a class="lightbox" href="img/_Prj08_Cia_Movin_1.png">
                    <img src="img/_Prj08_Cia_Movin_1.png" alt="Cia Movin">
                </a>
            </div>

            <div class="col-md-4">
                <a class="lightbox" href="img/_Prj01_HistóriasForaDaCaixa_3.png">
                    <img src="img/_Prj01_HistóriasForaDaCaixa_3.png" alt="Historias fora da caixa 3">
                </a>
            </div>

            <div class="col-md-4">
                <a class="lightbox" href="img/_Prj09_Leo_Vieira_1.png">
                    <img src="img/_Prj09_Leo_Vieira_1.png" alt="Proj Leo Vieira">
                </a>
            </div>
            <!--img 9-->
            <div class="col-md-4">
                <a class="lightbox" href="img/_Prj06_Banda Municipal_4.jpg">
                    <img src="img/_Prj06_Banda Municipal_4.jpg" alt="Banda Municipal 4">
                </a>
            </div>

            <div class="col-md-4">
                <a class="lightbox" href="img/_Prj08_Cia_Movin_2.png">
                    <img src="img/_Prj08_Cia_Movin_2.png" alt="Cia Movin 2d">
                </a>
            </div>

            <div class="col-md-4">
                <a class="lightbox" href="img/_Prj11_Grupo Folclórico Badenfurt_2.png">
                    <img src="img/_Prj11_Grupo Folclórico Badenfurt_2.png" alt="Grupo Folclorico Badenfurt">
                </a>
            </div>

            <div class="col-md-4">
                <a class="lightbox" href="img/_Prj03_Syahamba.png">
                    <img src="img/_Prj03_Syahamba.png" alt="Proj Syahamba">
                </a>
            </div>





        </div>
    </div>
</div>    
<script>
    baguetteBox.run('.tz-gallery');
</script>       